@font-face {
font-family: 'HelveticaNeueLT';
font-style: bold;
font-weight: normal;
src: local('../font/Helvetica Neue LT Pro 75 Bold'), url('../font/HelveticaNeueLTProBd.woff') format('woff');
}

@font-face {
font-family: 'Helvetica';
font-style: normal;
font-weight: normal;
src: local('../font/Helvetica Neue LT Pro 35 Thin'), url('../font/HelveticaNeueLTProTh.woff') format('woff');
}


body{background: #181717;margin:0px; padding:0px; width:100%;height:900px;}
header{width:100%;}
.logo{width:60%;}
header{width:100%;margin-top:50px;}
.mg{margin-top:117px;padding:0px 30px;}
.heading{
  width: 1079px;
  height: 111px;
  font-family: HelveticaNeueLT;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.46px;
  color: #ffffff;
  }
  
 .footertxt{width: 763px;
  height: 40px;
  font-family: HelveticaNeueLT;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0px auto;
}
.fblks{margin-top:180px;}
.ftxt{width: 716px;
  height: 26px;
  font-family: HelveticaLT;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  margin: 0px auto;
    text-transform: uppercase;
 }

.txtblk{
  width: 685px;
  height: 84px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  margin:0px auto;
}
.btmbtn{text-align:center;}
.mybtn{
  width: 220px;
  height: 50px;
  border-radius: 10px;
  background-color: #23407b;
  color:#fff;
  margin-top:37px;
  font-size:18px;
  }

.first{padding-right:45px;border-right:1px solid #333;width:235px;height:60px;}
.last{margin-left:45px;width:235px;height:60px;margin-top: -25px;}